In [1]:
import pandas as pd
pd.__version__

'1.0.1'

# Introductionn
### The series object

In [2]:
data = pd.Series([0.25, 0.5, 0.234,1])

In [3]:
data

0    0.250
1    0.500
2    0.234
3    1.000
dtype: float64

In [4]:
data.values

array([0.25 , 0.5  , 0.234, 1.   ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data = pd.Series([0.25, 0.4, 23.2,0.2], index = ['i','ii','iii','iv'])
data

i       0.25
ii      0.40
iii    23.20
iv      0.20
dtype: float64

In [7]:
data[0]

0.25

In [8]:
#we can make the dicitonaries into series
populationDict = {'UP' : 23456133,
                  'MP' : 231145,
                  'Bihar' : 120000,
                  'Delhi' : 10000
                 }

In [9]:
populationDict

{'UP': 23456133, 'MP': 231145, 'Bihar': 120000, 'Delhi': 10000}

In [10]:
population = pd.Series(populationDict)
population

UP       23456133
MP         231145
Bihar      120000
Delhi       10000
dtype: int64

In [11]:
population.sort_values()

Delhi       10000
Bihar      120000
MP         231145
UP       23456133
dtype: int64

### constructing DataFrame objects

In [12]:
#form series
pd.DataFrame(population, columns=['population'])

       population
UP       23456133
MP         231145
Bihar      120000
Delhi       10000

In [15]:
#from a list of dicts
data = [{'a':i, 'b': 2*i}
       for i in range(5)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

In [16]:
#### Data selection in series
data =pd.Series([0.25,0.4,0.75,1.9],
               index=['a','b','c','d'])
data

a    0.25
b    0.40
c    0.75
d    1.90
dtype: float64

In [17]:
data['b']

0.4

In [18]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [19]:
#slicing by explicit index
data['a':'c']

a    0.25
b    0.40
c    0.75
dtype: float64

In [20]:
data[0:2]

a    0.25
b    0.40
dtype: float64

In [21]:
#masking
data[(data>0.3) & (data<0.9)]

b    0.40
c    0.75
dtype: float64

In [22]:
data[1]

0.4

In [23]:
data[1:2]

b    0.4
dtype: float64

In [26]:
data.loc['a':'c']   #explicit indexing

a    0.25
b    0.40
c    0.75
dtype: float64

In [30]:
data.iloc[0:3]

a    0.25
b    0.40
c    0.75
dtype: float64

In [31]:
data['a':'b']

a    0.25
b    0.40
dtype: float64

In [40]:
class test:
    def __init__(self):
        self.a = 4
        self._b = 23
        self.__c= 12
    
    
t = test()
t._b

23

In [33]:
class test:
    _abc = []
    abc = []
    def accessPrivate():
        return test._abc
        
test.accessPrivate()

[]

In [43]:
class test:
    _a = 23
    def __init__(self,n):
        self.n = n
        
        self.__b = "jaaadduuuu"
        
t = test(10)
t.__b

AttributeError: 'test' object has no attribute '__b'