In [1]:
#import modules
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#load dataset
df = pd.read_csv("D:\\pkworkspace\\100DaysDataScience\\datasets\\Movie_regression.csv", header =0)

In [3]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

### first task --> treat missing values

In [5]:
#replace with mean values
df['Time_taken'].mean()

157.39149797570855

In [6]:
df['Time_taken'].fillna(value = df['Time_taken'].mean(), inplace=True )

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

### Task 2 --> categorical(object) into numerical

we will do this by creating DUMMY VARIABLE

In [8]:
df = pd.get_dummies(df, columns = ['3D_available', 'Genre'], drop_first = True)

In [9]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

### task 3 --> x,y split

In [10]:
x = df.loc[:, df.columns != "Collection"]
type(x)

pandas.core.frame.DataFrame

In [11]:
x.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [12]:
x.shape

(506, 19)

In [13]:
y = df['Collection']
type(y)

pandas.core.series.Series

In [14]:
y.shape

(506,)

### Task 4 --> Train_test_split

In [15]:
from sklearn.model_selection import train_test_split

In [68]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =0.3, random_state=0)

In [69]:
x_train.shape

(354, 19)

In [70]:
x_test.shape

(152, 19)

### task 5 --> Standardizing data

Standardizing the data is very important in SVM

In [71]:
from sklearn.preprocessing import StandardScaler

In [72]:
sc = StandardScaler().fit(x_train)

In [73]:
x_train_std = sc.transform(x_train)

In [74]:
x_test_std = sc.transform(x_test)

In [75]:
type(x_train_std)

numpy.ndarray

In [76]:
x_train_std

array([[-0.20735619,  1.54801583, -0.58821309, ...,  1.50923086,
        -0.47871355, -0.76644892],
       [-0.38886492, -0.58974728,  0.79782145, ..., -0.66258916,
        -0.47871355,  1.30471839],
       [-0.33573486,  1.54801583, -0.58821309, ..., -0.66258916,
        -0.47871355,  1.30471839],
       ...,
       [-0.38450355, -0.15303077,  0.07881603, ..., -0.66258916,
        -0.47871355, -0.76644892],
       [-0.37511786, -0.59690657,  0.9364249 , ..., -0.66258916,
        -0.47871355,  1.30471839],
       [-0.38592298, -1.00641779,  0.39933652, ..., -0.66258916,
        -0.47871355,  1.30471839]])

In [77]:
x_train

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
141,52.5728,98.78,0.376,27880.545,173.5,9.185,9.340,9.145,9.450,7.76,233100,199.76,242.304,43,561,1,1,0,0
272,22.2920,68.92,0.536,36318.590,132.2,7.995,8.185,7.940,8.045,7.28,502420,169.76,263.904,40,440,1,0,0,1
135,31.1556,98.78,0.376,35190.925,171.7,8.890,8.965,8.840,9.085,6.76,411162,157.24,222.896,37,663,1,0,0,1
298,21.2932,59.48,0.600,35246.475,93.6,6.000,6.165,5.985,6.195,9.04,517172,189.00,263.600,48,369,0,0,1,0
122,21.8598,106.30,0.419,33113.355,166.4,8.830,9.075,8.865,9.050,8.18,388265,178.20,203.280,51,608,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,25.6784,69.76,0.507,31707.940,147.8,7.545,7.700,7.550,7.765,8.08,446743,131.40,302.960,25,501,1,1,0,0
192,21.7328,61.88,0.563,39873.790,99.8,6.620,6.830,6.700,6.895,7.96,515199,210.56,225.824,40,448,1,0,1,0
117,23.0196,75.02,0.453,33446.655,156.1,8.615,8.755,8.540,8.595,7.44,454755,189.68,303.072,28,609,0,0,0,0
47,24.5854,68.82,0.552,33496.650,159.0,7.085,7.180,7.125,7.230,7.42,374797,106.64,242.656,44,526,1,0,0,1
172,22.7828,63.10,0.490,30952.460,162.0,8.650,8.730,8.635,8.790,7.68,415584,187.24,243.696,38,530,0,0,0,1

### Task 6 --> Train Rgression Tree SVM

In [85]:
from sklearn.svm import SVR
svr = SVR(kernel='linear', C = 500)

In [86]:
svr.fit(x_train_std, y_train)

SVR(C=500, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

### PRedict values

In [88]:
y_test_pred = svr.predict(x_test_std)
y_train_pred = svr.predict(x_train_std)

In [81]:
# y_test_pred

### MOdel Performance

In [89]:

from sklearn.metrics import mean_squared_error, r2_score

In [90]:
mean_squared_error(y_test, y_test_pred)

136203094.03090873

In [91]:
r2_score(y_test, y_test_pred)

0.5879691958478411