In [2]:
"Hello World!"

'Hello World!'

In [4]:
average(1,3)

NameError: name 'average' is not defined

In [3]:
3*4

12

In [4]:
66/11

6.0

In [5]:
6**2

36

In [6]:
74%5

4

In [7]:
2*4+3

11

In [8]:
2*(4+3)

14

In [9]:
print(2*4)

8

This is a comment

# Heading 1
## Heading 2
### Heading 3
* Point 1
* Point 2

This is a coment without editing

In [10]:
2+4 # Addition

6

In [11]:
x = 10

In [12]:
print(x)

10

In [13]:
x = 5

In [14]:
print(x)

5

In [15]:
x = 5+2

In [16]:
print(x)

7

In [17]:
y = 7/2

In [18]:
print(y)

3.5

In [19]:
type(x)

int

In [20]:
type(y)

float

In [21]:
9x = 10

SyntaxError: invalid syntax (<ipython-input-21-f59f84827dc5>, line 1)

In [22]:
sample variable = 10

SyntaxError: invalid syntax (<ipython-input-22-7325a360121c>, line 1)

In [23]:
sample_variable = 10

In [24]:
"this is a string"

'this is a string'

In [25]:
'This is a string'

'This is a string'

In [26]:
str = "Start-Tech Academy"

In [27]:
str

'Start-Tech Academy'

In [28]:
print(str)

Start-Tech Academy

In [29]:
len(str)

18

In [30]:
str2 = str.replace("Academy", "Acad")

In [ ]:
print(str2)

In [32]:
str2[0]

'S'

In [33]:
str2[1]

't'

In [34]:
str2[0:10]

'Start-Tech'

In [35]:
str2[-1]

'd'

In [41]:
str2[6:]

'Tech Acad'

In [42]:
str2[6:-2]

'Tech Ac'

In [43]:
str2[6:-2:2]

'Tc c'

In [44]:
str2[::-1]

'dacA hceT-tratS'

In [45]:
print(str)

Start-Tech Academy

In [48]:
print(str,str2)

Start-Tech Academy Start-Tech Acad

In [49]:
print(str + str2)

Start-Tech AcademyStart-Tech Acad

In [52]:
print("The value of x = 5, y= 10")

The value of x = 5, y= 10

In [56]:
print("The value of x = {}, y = {}".format(x,y))

The value of x = 5, y = 10

In [54]:
x = 5

In [55]:
y=10

## Boolean

In [57]:
bool1 = True

In [58]:
type(bool1)

bool

In [59]:
bool2 = False

## Comparison operators

In [60]:
True and False

False

In [61]:
Bool1 or Bool2

NameError: name 'Bool1' is not defined

In [62]:
bool1 or bool2

True

In [63]:
not bool1

False

In [64]:
2>1

True

In [65]:
2<1

False

In [66]:
2>=2

True

In [67]:
2>=1 and 5<3

False

In [68]:
2==3

False

In [69]:
x == 5

True

## lists

In [70]:
l1= [1,2,3,4,5]

In [71]:
type(l1)

list

In [72]:
print(l1)

[1, 2, 3, 4, 5]

In [73]:
l1[0]

1

In [74]:
l1[0:3]

[1, 2, 3]

In [75]:
l1[::2]

[1, 3, 5]

In [76]:
l2 = [1, "a", 1.0]

In [78]:
type(l2[0])

int

In [79]:
type(l2[1])

str

In [80]:
type(l2)

list

In [81]:
l3 = [l2, 1, 2.0]

In [82]:
print(l3)

[[1, 'a', 1.0], 1, 2.0]

In [83]:
type(l3[0])

list

In [84]:
l3[0][1]

'a'

In [88]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [103]:
l4 = list(range(0,10,2))

In [105]:
l4

[0, 2, 4, 6, 8]

In [106]:
l4.sort(reverse = True)

In [107]:
l4

[8, 6, 4, 2, 0]

In [108]:
l4.append(10)

In [109]:
l4

[8, 6, 4, 2, 0, 10]

In [110]:
l4[0] = 3

In [111]:
l4

[3, 6, 4, 2, 0, 10]

In [112]:
l4[1:3] = [5,7]

In [113]:
l4

[3, 5, 7, 2, 0, 10]

In [114]:
l4.insert(0, "15")

In [115]:
l4

['15', 3, 5, 7, 2, 0, 10]

In [116]:
l4.remove(3)

In [117]:
l4

['15', 5, 7, 2, 0, 10]

In [118]:
del l4[0]

In [119]:
l4

[5, 7, 2, 0, 10]

In [ ]:
help(list)

## Tuples

In [121]:
t1 = (1,2)

In [122]:
t1

(1, 2)

In [123]:
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [124]:
type(t1)

tuple

## Dictionary

In [125]:
d1 = {"key1": 1,
     "key2" : 2,
     "key3" : 3,}

In [126]:
d1

{'key1': 1, 'key2': 2, 'key3': 3}

In [127]:
type(d1)

dict

In [1]:
d1["key1"]

NameError: name 'd1' is not defined

In [129]:
d1[0]

KeyError: 0